* {
      box-sizing: border-box;
    }
    body, html {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', sans-serif;
      height: 100%;
      /* background: linear-gradient(to right, #971f1f, #ce2222); */
      background-image: url("images/bgc.png");
      background-size: cover;
    }

    /* Хедер */
    header {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.95);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      padding-left: 20%;
      padding-right: 20%;
      top: 0;
      z-index: 100;
    }

    header h1 {
      margin: 0;
      font-size: 1.5rem;
      color: #333;
    }

    .nav-link {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      transition: color 0.3s;
    }

    .nav-link:hover {
      color: #b12121;
    }

    /* Центровка формы */
    .form-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 400px;
      padding-top: 70px; /* отступ под хедером */
    }

    .form-container {
      background: white;
      padding: 2rem;
      border-radius: 16px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      animation: fadeIn 0.6s ease;
    }

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: #333;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: #444;
    }

    input {
      width: 100%;
      padding: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      transition: border 0.3s;
    }

    input:focus {
      outline: none;
      border-color: #ff0000;
    }

    .submit-btn {
      width: 100%;
      padding: 0.75rem;
      border: none;
      background-color: #ea6666;
      color: white;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .submit-btn:hover {
      background-color: #d85a5a;
    }

    .form-footer {
      margin-top: 1rem;
      text-align: center;
      font-size: 0.9rem;
      color: #555;
    }

    .form-footer a {
      color: #667eea;
      text-decoration: none;
      cursor: pointer;
    }

    @keyframes fadeIn {
      from {opacity: 0; transform: translateY(20px);}
      to {opacity: 1; transform: translateY(0);}
    }

    .hidden {
      display: none;
    }

    @media (max-height: 500px) {
      .form-wrapper {
        position: static;
        transform: none;
        margin-top: 120px;
        padding: 1rem;
      }
    }