ul{
    list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding-bottom: 30px;
    width: 100%;
    min-height: 100vh;
    background-image: url("images/bgc.png");
    background-size: 100%;     
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.nmotoren{
  color: yellow;
  margin-top: 5px;
  margin-bottom: 5px;
}
.line{
  margin-top: 20px;
}


#jouw-auto-info {
  padding: 40px 0;
  background-color: transparent;
  color: #fff;
}

#jouw-auto-info .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#jouw-auto-info h2 {
  font-size: 2.5rem;
  color: #ff3c3c;
  margin-bottom: 60px;
}

#jouw-auto-info article h3 {
  font-size: 1.6rem;
  color: #ff3c3c;
  margin-top: 2rem;
  margin-bottom: 20px;
}

#jouw-auto-info p,
#jouw-auto-info ul,
#jouw-auto-info ol {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
}

#jouw-auto-info ul {
  padding-left: 1.5em;
  list-style: disc;
}

#jouw-auto-info ol {
  padding-left: 1.5em;
  list-style: decimal;
}

#jouw-auto-info strong {
  color: #fff;
}





.container-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.bord-img {
  flex: 0 0 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.bord-img img {
  display: block;
  margin-top: 10px;
  width: clamp(220px, 22vw, 280px);
  height: auto;
  object-fit: contain;
}
.onder_img{
  display: block;
  width: clamp(200px, 22vw, 300px);
  height: auto;
  object-fit: contain;
  margin-top: 30px;
  margin: auto;
}




/* aдаптация под мобильные устройства */
@media (max-width: 768px) {
  #jouw-auto-info {
    padding: 30px 15px;
  }

  #jouw-auto-info h2 {
    font-size: 2rem;
    text-align: center;
  }

  #jouw-auto-info article h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  #jouw-auto-info p,
  #jouw-auto-info ul,
  #jouw-auto-info ol {
    font-size: 1.05rem;
  }
  .container-info {
    display: block;
  }
}