*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


.desktop-menu {
    /* background-color: #5f0101; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding-left: 15%;
    padding-right: 15%;

}
.desktop-menu ul {
  display: flex;
  align-items: center;
}
.desktop-menu img{
    width: 100px;
    height: 100px;
}
.desktop-menu a {
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
  font-size: clamp(14px, 1.2vw, 18px);
  text-decoration: none;
}
.desktop-menu button {
  background: linear-gradient(to left, #860000, #ff2326);
  color: #fff;
  width: 90px;
  height: 35px;
  border: 0;
  border-radius: 10px;
  font-size: clamp(14px, 1vw, 16px);
  cursor: pointer;
}
.mobile-menu button{
    background: linear-gradient(to left, #860000, #ff2326);
    color:#ffffff;
    width: 125px;
    height: 45px;
    border: 0px;
    border-radius: 0px;
    font-size: 20px;
    margin-top: 10px;
}
.mobile-menu-btn {
    display: none;
    height: 50px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
}
.mobile-menu {
    display: none;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 100;
}
.mobile-menu-mobility{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 0;
    display: block;
}
.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}



/* do 400px */
@media (max-width: 400px) {
    .header-margin{
        margin-left: 5%;
    }
    li{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desktop-menu a{
        font-size: 14px;
    }
    .desktop-menu button{
        width: 85px;
        height: 35px;
        font-size: 14px;
    }

    .desktop-menu {
        display: none;
    }
    .mobile-menu-btn{
        display: block;
    }
}

/* телефоны до 600 пикселей*/
@media (min-width: 401px) and (max-width: 600px) {
    .header-margin{
        margin-left: 5%;
        margin-right: 5%;
    }
    .desktop-menu img{
        width: 40px;
        height: 40px;
    }
    li{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desktop-menu a{
        font-size: 14px;
    }
    .desktop-menu button{
        width: 85px;
        height: 35px;
        font-size: 14px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }
}



/* телефоны до 900 пикселей*/
@media (min-width: 601px) and (max-width: 900px) {
    .header-margin{
        margin-left: 5%;
        margin-right: 5%;
    }
    .desktop-menu a{
        font-size: 14px;
    }
    .desktop-menu button{
        width: 85px;
        height: 35px;
        font-size: 14px;
    }
    .desktop-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }
}
  


/* Диапазон (например, планшеты) */
@media (min-width: 901px) and (max-width: 1199px) {
    .header-margin{
        margin-left: 5%;
    }
    .desktop-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }
}



/* Для экранов ≥ 1200px (ПК) */
@media (min-width: 1200px) {
    .header-margin{
        margin-left: 15%;
    }
    .desktop-menu a{
        font-size: 16px;
    }
    .desktop-menu h1{
        font-size: 22px;
    }
}


