ul{
    list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding-bottom: 30px;
    width: 100%;
    min-height: 100vh;
    background-image: url("images/bgc.png");
    background-size: 100%;     
}

.header-maintext h2{
    font-size: 34px;
    margin-top: 200px;;
    text-align: center;
    color: white;
}
.header-maintext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-maintext p{
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
