ul{
    list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding-bottom: 30px;
    width: 100%;
    min-height: 100vh;
    background-image: url("images/bgc.png");
    background-size: 100%;     
}



#jouw-auto-info {
  padding: 40px 0;
  background-color: transparent; /* ← Прозрачный фон */
  color: #fff;
}

#jouw-auto-info .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

#jouw-auto-info h2 {
  font-size: 2.5rem;
  color: #ff3c3c;
  margin-bottom: 60px;
}

#jouw-auto-info article h3 {
  font-size: 1.6rem;
  color: #ff3c3c;
  margin-top: 2rem;
  margin-bottom: 20px;
}

#jouw-auto-info p,
#jouw-auto-info ul,
#jouw-auto-info ol {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
}

#jouw-auto-info ul {
  padding-left: 1.5em;
  list-style: disc;
}

#jouw-auto-info ol {
  padding-left: 1.5em;
  list-style: decimal;
}

#jouw-auto-info strong {
  color: #fff;
}




.dashbord{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.dashbord img{
    margin-right: 50px;
}
.symbimg{
    width: 300px;
    margin-left: 40px;
    margin-top: 40px;
}



@media (max-width: 768px) {
  #jouw-auto-info {
    padding: 30px 15px;
  }

  #jouw-auto-info h2 {
    font-size: 2rem;
    text-align: center;
  }

  #jouw-auto-info article h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  #jouw-auto-info p,
  #jouw-auto-info ul,
  #jouw-auto-info ol {
    font-size: 1.05rem;
  }
}