ul{
    list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding-bottom: 30px;
    width: 100%;
    min-height: 100vh;
    background-image: url("images/bgc.png");
    background-size: 100%;     
}

.catalog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 40px 5%;
  box-sizing: border-box;
}

/* Стиль карточки */
.catalog-item {
  background-color: #1c1c1c;
  border-left: 6px solid #e63946;
  padding: 16px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.catalog-item1 {
  background-color: #1c1c1c;
  border-left: 6px solid #a200ff;
  padding: 16px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.catalog-item:hover {
  background-color: #292929;
  transform: scale(1.01);
}

/* Контент внутри */
.icon {
  font-size: 24px;
  margin-right: 12px;
}

.label {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.badge {
  background-color: #4caf50;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: 10px;
}

.book-icon {
  font-size: 18px;
  color: #ccc;
  margin-left: 10px;
}

/* Адаптив */
@media (max-width: 768px) {
  .catalog-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .label {
    font-size: 15px;
  }

  .icon {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .catalog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


a {
  text-decoration: none;  /* Убирает подчёркивание */

}