ul{
    list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
li{
    text-decoration: none;
    margin-left: 40px;
    margin-right: 40px;
}
header{
    background-image: url("images/formula32.png");
    background-size: contain;     
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    padding-top: 20px;
}
.desktop-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.desktop-menu ul{
    display: flex;
}
.desktop-menu img{
    width: 100px;
    height: 100px;
}
.snezhinka{
    width: 100px;
}
.desktop-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.desktop-menu button{
    background: linear-gradient(to left, #860000, #ff2326);
    color:#ffffff;
    width: 105px;
    height: 45px;
    border: 0px;
    border-radius: 25px;
    font-size: 16px;
}
.mobile-menu button{
    background: linear-gradient(to left, #860000, #ff2326);
    color:#ffffff;
    width: 135px;
    height: 45px;
    border: 0px;
    border-radius: 0px;
    font-size: 16px;
    margin-top: 10px;
}
.header-maintext{
    font-size: 34px;
    margin-top: 200px;
    width: 700px;
    color: white;
}
.header-margin{
    margin-left: 20%;
    margin-right: 20%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Стили для десктопного меню */
.desktop-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

/* Стили для мобильного меню */
.mobile-menu-btn {
    display: none;
    cursor: pointer;
    font-size: 24px;
}
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 100;
}
.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 15px 0;
    display: block;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.container {
    display: flex;
    gap: 20px;
    margin-top: 100px;
}
.time-square {
    width: 150px;
    height: 150px;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.label {
    font-size: 16px;
    margin-top: 10px;
    color: #777777;
}
.value {
    font-size: 32px;

}

  

/* MAIN-PART-MAIN-PART */
/* MAIN-PART-MAIN-PART */
main{
    background-image: url("images/bgc.png");
    background-size: cover;
    margin-top: 0px;   
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
}
.doen{
    display: flex;
    width: 70%;
    margin-left: 15%;
    margin-left: 15%;
}
.doen img{
    width: 500px;
    height: 300px;
    border: 15px solid;
    border-image: linear-gradient(to right, red, transparent) 1;
}
.doen-text{
    color: white;
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.doen-text h1{
    margin-bottom: 20px;
}
.highlight{
    color: red;
}
/* animate */
.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }



.fade-in-element.show{
    opacity: 1;
    transform: translateY(0);
}





.snel-img-text{
    display: flex;
    justify-content: center;
}
.snel-img-text h2{
    color: white;
    display: flex;
    align-items: center;
}
.snel-img-text img{
    width: 60px;
    height: 60px;
}
.snel-begin{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 150px;
    text-align: center;
    justify-content: center;
}
.snel-begin p{
    color: grey;
    margin-top: 30px;
}
.rectangles{
    width: 70%;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content:center;
    align-content: space-between;
}
.rectangles h2{
    color: white;
    display: flex;
    justify-content: center;
}
.rectangles p{
    color: grey;
    margin-right: 5px;
    text-align: center;
    height: 50px;
}
.rectangles img{
    width: 100%;
    align-self: center;

}
.rectangles div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}


.lage-prijs{
    color: white;
    display: flex;
    justify-content: center;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 200px;
}

.icons{
    display: flex;
    width: 70%;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
}

.icons-img{
  display: flex;
  justify-content: center;
}
.icons h2{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30PX;
    font-size: 20px;
}
.icons p{
    color: grey;
    text-align: center;
    font-size: 14px;
}
.icons div{
    margin-left: 30px;
    margin-right: 30px;
}


.feedback-container {
      display: flex;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 999px;
      padding: 5px;
      max-width: 500px;
      width: 100%;
}

.feedback-container input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      color: white;
      padding: 10px 20px;
      font-size: 14px;
}

.feedback-container input::placeholder {
      color: #ccc;
}

.feedback-container button {
      border: none;
      border-radius: 999px;
      background: linear-gradient(90deg, #f44336, #ff6f61);
      color: white;
      padding: 10px 20px;
      font-weight: bold;
      cursor: pointer;
}

.feedback-container button:hover {
      background: linear-gradient(90deg, #ff6f61, #f44336);
}
.feedback-boss{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

footer{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    margin-top: 200px;
    justify-content: center;
}
.contacten h1{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
.contacten a{
    color: white;
    margin-left: 5px;
    text-decoration: none;
}
.contacten p{
    margin-bottom: 50px;
    color: rgb(177, 177, 177);
    text-align: center;
}
.footer-inst{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.footer-inst a{
    margin-right: 5px;
}
.notification{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}








/* do 400px */
@media (max-width: 400px) {
    header{
        background-size: cover;     
        background-image: url("images/carback1.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 250px;
        padding-top: 20px;
    }
    .header-margin{
        margin-left: 5%;
        margin-right: 5%;
    }
    .header-maintext{
        font-size: 16px;
        margin-top: 10px;
        width: 90%;
        color: white;
    }
    .container {
        display: flex;
        gap: 20px;
        margin-top: 10px;
    }
    .desktop-menu img{
        width: 40px;
        height: 40px;
    }
    li{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desktop-menu a{
        font-size: 14px;
    }
    .desktop-menu button{
        width: 85px;
        height: 35px;
        font-size: 14px;
    }
    .time-square {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
    .desktop-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }
    .value {
        font-size: 12px;
    }
    .label {
        font-size: 8px;
    }
    

    .doen{
        width: 70%;
        margin-left: 15%;
        margin-left: 15%;
        display: block;
    }
    .fade-in-element span{
        color: white;
    }
    .doen img{
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        border: 10px red solid;
    }
    .doen-text{
        margin-left: 0px;
        margin-top: -120px;
        text-align: center;
    }
    .doen-text h1{
        color: #ffffff;
        margin-bottom: 50px;
    }
    .highlightt{
        color: white;
    }
    
}

/* телефоны до 600 пикселей*/
@media (min-width: 401px) and (max-width: 600px) {
    header{
        background-size: cover;     
        background-repeat: no-repeat;
        width: 100%;
        background-image: url("images/carback1.png");
        height: 250px;
        padding-top: 20px;
    }
    .header-margin{
        margin-left: 5%;
        margin-right: 5%;
    }
    .header-maintext{
        font-size: 18px;
        margin-top: 10px;
        width: 90%;
        color: white;
    }
    .container {
        display: flex;
        gap: 20px;
        margin-top: 10px;
    }
    .desktop-menu img{
        width: 40px;
        height: 40px;
    }
    li{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desktop-menu a{
        font-size: 14px;
    }
    .desktop-menu button{
        width: 85px;
        height: 35px;
        font-size: 14px;
    }
    .time-square {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
    .desktop-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }
    .value {
        font-size: 12px;
    }
    .label {
        font-size: 8px;
    }
}



/* телефоны до 900 пикселей*/
@media (min-width: 601px) and (max-width: 900px) {
    header{
        background-size: cover;      
        background-repeat: no-repeat;
        background-image: url("images/carback1.png");
        width: 100%;
        height: 500px;
        padding-top: 20px;
    }
    .header-margin{
        margin-left: 5%;
        margin-right: 5%;
    }
    .header-maintext{
        font-size: 25px;
        margin-top: 50px;
        width: 90%;
        color: white;
    }
    .container {
        display: flex;
        gap: 20px;
        margin-top: 30px;
    }
    .desktop-menu img{
        width: 40px;
        height: 40px;
    }
    li{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desktop-menu a{
        font-size: 14px;
    }
    .desktop-menu button{
        width: 85px;
        height: 35px;
        font-size: 14px;
    }
    .time-square {
        width: 100px;
        height: 100px;
        font-size: 24px;
    }
    .desktop-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
        font-size: 40px;
    }
    .value {
        font-size: 18px;
    }
    .label {
        font-size: 14px;
    }
}
  


/* Диапазон (например, планшеты) */
@media (min-width: 901px) and (max-width: 1199px) {
    header{
        background-size: cover;     
        background-repeat: no-repeat;
        width: 100%;
        height: 600px;
        padding-top: 20px;
    }
    .header-margin{
        margin-left: 5%;
        margin-right: 5%;
    }
    .header-maintext{
        font-size: 34px;
        margin-top: 100px;
        width: 700px;
        color: white;
    }
    .container {
        display: flex;
        gap: 20px;
        margin-top: 50px;
    }
    .desktop-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }
}



/* Для экранов ≥ 1200px (ПК) */
@media (min-width: 1200px) {
    header{
        height: 900px;
        background-size: cover;
    }
    .header-margin{
        margin-left: 15%;
        margin-right: 15%;
    }
    .desktop-menu a{
        font-size: 18px;
    }
}



/* телефоны до 600 пикселей*/
@media (min-width: 401px) and (max-width: 600px) {
    .doen{
        width: 70%;
        margin-left: 15%;
        margin-left: 15%;
        display: block;
    }
    .doen img{
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        border: 10px red solid;
    }
    .doen-text{
        margin-left: 0px;
        margin-top: -120px;
        text-align: center;
    }
    .doen-text h1{
        color: #ffffff;
        margin-bottom: 50px;
    }
    .highlightt{
        color: white;
    }

    .icons{
        display: block;
    }
    .icons div{
        margin-top: 40px;
    }
}

/* телефоны до 900 пикселей*/
@media (min-width: 601px) and (max-width: 900px) {
    .doen{
        width: 70%;
        margin-left: 15%;
        margin-left: 15%;
        display: block;
    }
    .highlightt{
        color: white;
    }
    .doen img{
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        border: 10px red solid;
    }
    .doen-text{
        margin-left: 0px;
        margin-top: -120px;
        text-align: center;
    }
    .doen-text h1{
        color: #ffffff;
        margin-bottom: 50px;
    }

    .icons{
        display: flex;
        width: 50%;
    }
    .icons div{
        width: 30%;
    }
}
  


/* Диапазон (например, планшеты) */
@media (min-width: 901px) and (max-width: 1199px) {
    .doen img{
        height: auto;
        width: 400px;
    }
}


/* Для экранов ≥ 1200px (ПК) */
@media (min-width: 2001px){
    header{
        height: 1300px;
    }
    .icons .fade-in-element{
    width: 100%;
}
}
/* Диапазон do 500px */
@media (max-width: 500px) {
    .rectangles p{
        font-size: 12px;
    }
    .rectangles h2{
        font-size: 16px;
    }
    .rectangles div{
        height: 200px;
    }
}

/* Диапазон do 500px */
@media (max-width: 500px) {
    .icons{
        display: block;
    }
    .icons div{
        margin-top: 40px;
    }
}